:root {
	--font-family: 'Nanum Gothic', sans-serif;
	--foreground-color: White;
	--background-color: #1c1c1c;
	--selection-foreground-color: Black;
	--selection-background-color: LightSteelBlue;
	--link-color: SteelBlue;
	--link-color-hover-focus: #d78700;
	--link-color-active: Purple;
	--input-border-color: SteelBlue;
	--input-border-color-invalid: #5f0000;
	--input-border-color-hover-focus: #d78700;
	--input-border-color-active: Purple;
	--input-border-color-disabled: Black;
}
::selection {
	color: var(--selection-foreground-color);
	background: var(--selection-background-color);
}
body {
	margin: 3em;
	font-family: var(--font-family);
	color: var(--foreground-color);
	background-color: var(--background-color);
	line-height: 1.5;
}
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover,a:focus {
	color: var(--link-color-hover-focus);
	text-decoration: underline;
}
a:active {
	color: var(--link-color-active);
}
table {
	margin: 0.5em 0;
	border: thin solid;
	border-collapse: collapse;
}
th,td {
	border: thin solid;
	padding: 0.5em;
}
label {
	margin: 0;
	padding: 0;
}
legend {
	margin: 0;
	padding: 0 0.5em;
}
fieldset {
	margin: 0.25em 0;
	border: thin solid;
	padding: 1em;
	max-width: 600px;
}
input,select {
	margin: 0.25em 0;
	border: thin solid;
	border-color: var(--input-border-color);
	padding: 0.25em;
	color: var(--foreground-color);
	background-color: var(--background-color);
}
input,input[type=button],input[type=submit],select,fieldset {
	border-radius: 4px;
}
input[type=number] {
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input[type=button],
input[type=submit] {
	padding: 0.5em;
}
input:invalid {
	border-color: var(--input-border-color-invalid);
	box-shadow: 0px 0px 4px #5f0000;
}
input:hover,
input:focus,
select:hover,
select:focus {
	border-color: var(--input-border-color-hover-focus);
	box-shadow: 0px 0px 4px var(--input-border-color-hover-focus);
}
input:active,
select:active {
	border-color: var(--input-border-color-active);
	box-shadow: 0px 0px 4px var(--input-border-color-active);
}
[disabled],[disabled]:hover,[disabled]:focus,[disabled]:active {
	border-color: var(--input-border-color-disabled);
	box-shadow: none;
}
[readonly],[readonly]:hover,[readonly]:focus,[readonly]:active {
	border-color: var(--input-border-color);
	box-shadow: none;
}
