:root {
	--font-family: 'Nanum Gothic', sans-serif;
	--foreground-color: White;
	--background-color: #1c1c1c;
	--selection-foreground-color: Black;
	--selection-background-color: LightSteelBlue;
	--input-border-color: SteelBlue;
	--input-border-color-hover-focus: #d78700;
	--input-foreground-color: White;
	--input-background-color: #1c1c1c;
	--button-border-color: SteelBlue;
	--button-border-color-hover-focus: #d78700;
	--button-border-color-active: #005f00;
	--button-foreground-color: White;
	--button-background-color: #1c1c1c;
	--link-color: SteelBlue;
	--link-color-hover-focus: #d78700;
	--link-color-active: #005f00;
	--disabled-border-color: Black;
}
::selection {
	color: var(--selection-foreground-color);
	background: var(--selection-background-color);
}
body {
	margin: 3em;
	font-family: var(--font-family);
	color: var(--foreground-color);
	background-color: var(--background-color);
	line-height: 2.0;
}
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover,a:focus {
	color: var(--link-color-hover-focus);
	text-decoration: underline;
}
a:active {
	color: var(--link-color-active);
}
table {
	margin: 0.5em 0;
	border: thin solid;
	border-collapse: collapse;
}
th,td {
	border: thin solid;
	padding: 0.5em;
}
input,select {
	margin: 0.25em 0;
	border: thin solid;
	border-color: var(--input-border-color);
	color: var(--input-foreground-color);
	background-color: var(--input-background-color);
}
input[type=number] {
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input[type=button],
input[type=submit] {
	padding: 0.5em;
	color: var(--button-foreground-color);
	background-color: var(--button-background-color);
}
input:hover,
input:focus,
select:hover,
select:focus {
	border: thin solid;
	border-color: var(--input-border-color-hover-focus);
}
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus {
	border: thin solid;
	border-color: var(--button-border-color-hover-focus);
}
input[type=button]:active,input[type=submit]:active {
	border: thin solid;
	border-color: var(--button-border-color-active);
}
[disabled],[disabled]:hover,[disabled]:focus,[disabled]:active {
	border: thin solid;
	border-color: var(--disabled-border-color);
}
[readonly],[readonly]:hover,[readonly]:focus,[readonly]:active {
	border: thin solid;
	border-color: var(--input-border-color);
}
